<!-- projects.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/headinfo') %>
  </head>

  <body id="projectpage">

    <%- include('partials/navbar') %>

    <section id="projectlist">

      <h5>Project List</h5>

      <div class="collection">
        <% projects.forEach(function(project) { %>
          <li>
            <a href='/workbench?projectName=<%= project.project_name%>' class="collection-item"><%= project.project_name %></a>
          </li>
        <% }) %>
     </div>

     <div id="newProject">
      <button class="btn modal-trigger" data-target="uploadModal">Create New Project<i class="material-icons right">add_circle_outline</i>
      </button>
    </div>
    </section>


    <div id="uploadModal" class="modal">
      <div class="modal-content">
        <div class="row">
          <form id="uploadForm">
            <div class="row">
              <div class="input-field col s12 white">
                <input id="projectName" type="text" class="validate" name="projectName">
                <label for="projectName">Project Name</label>
              </div>
            </div>
            <div class="file-field input-field white s12">
              <div class="btn">
                <span>File</span>
                <input type="file" id="fileSelector" name="fileList" webkitdirectory multiple>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
              <!-- <button class="btn waves-effect waves-light" type="submit" id="uploadButton" name="action">Submit
                <i class="material-icons right">send</i>
              </button> -->
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a id='uploadButton' href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Create</a>
      </div>
    </div>


    <!-- footer tags -->
    <%- include('partials/footer') %>
    <script type="text/javascript" src='/upload.js'></script>
  </body>

</html>
