<!-- workbench.ejs page -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- head tags -->
    <%- include('partials/headinfo') %>
  </head>

  <body>

    <div id='projectData' data-username="<%= username %>" data-projectname="<%= projectName %>" data-pathhash="<%= pathHash %>" data-palette="<%= palette %>">

    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Vibrantly</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/workbench/index.html" download>Export</a></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/workbench">Workbench</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/workbench">Workbench</a></li>
          <li><a href="/logout">Logout</a></li>

        </ul>
      </div>
    </nav>

    <section id='tools'>
      <div class='row work'>
        <div class='col s3 toolbar'>
          <h4 class="assignEl">Assign element</h4>
          <div class="selAtr">
            <h5>CURRENT SELECTION</h5>
            <div class="row sel">
              <div class="col s2">
                <p>type:</p>
              </div>
              <div class="col s8">
                <p id='selectedType'></p>
              </div>
            </div>
            <div class="row sel">
              <div class="col s2">
                <p>id:</p>
              </div>
              <div class="col s8">
                <p id='selectedId'></p>
              </div>
            </div>
            <div class="row sel">
              <div class="col s2">
                <p>class:</p>
              </div>
              <div class="col s8">
                <p id='selectedClass'></p>
              </div>
            </div>
            <div class="row sel">
              <div class="col s2">
                <p>content:</p>
              </div>
              <div class="col s8">
                <p id='selectedContent'></p>
              </div>
            </div>
          </div>

          <div>
            <h5>PARENT SELECTOR</h5>
            <select id='elementSelector'>
            </select>
          </div>

          <div>
            <h5>ATTRIBUTE SELECTOR</h5>
            <select id='attributeSelector'>
              <option value='backgroundColor'>Background</option>
              <option value='color'>Text</option>
              <option value='borderColor'>Border</option>
            </select>
          </div>

          <div>
            <h5>GROUP ASSIGNMENT</h5>
            <select id='groupSelector'>
            </select>
          </div>
          <br>
          <div>
            <button class="btn waves-effect waves-light assign" type="button">Assign</button>
          </div>
          <h4 class="SetColor">Set color</h4>
          <div>
            <h5>PICK COLOR</h5>
            <input id='selectedColor' type="color">
          </div>
          <div>
            <h5>PICK GROUP</h5>
            <select id='pickGroup'>
              <option value='primary'>Primary</option>
              <option value='seondary'>Secondary</option>
              <option value='highlight'>Highlight</option>
              <option value='primaryContrast'>Primary Contrast</option>
              <option value='secondaryContrast'>Secondary Contrast</option>
            </select>
          </div>
          <br>
          <div>
            <button id='apply' class="btn waves-effect waves-light" type="button">Apply</button>
          </div>
        </div>

        <div class="col s8">
        <section id='project'>
          <iframe src='/workbench/index.html'>
            Sorry, your browser does not support iframes. Try using chrome.
          </iframe>
        </section>
      </div>
      </div>
    </section>




    <!-- footer tags -->
    <%- include('partials/footer') %>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCP9ov_LaUobnfn1ypWbBOa-nrw_qBagSo",
        authDomain: "color-palette-picker-48bf1.firebaseapp.com",
        databaseURL: "https://color-palette-picker-48bf1.firebaseio.com",
        projectId: "color-palette-picker-48bf1",
        storageBucket: "color-palette-picker-48bf1.appspot.com",
        messagingSenderId: "766345724682"
      };
      app = firebase.initializeApp(config);
      app.auth().signInAnonymously().catch(function(error) {
        console.log(error);
      });
    </script>
    <script type="text/javascript" src='/workbench.js'></script>
    <!-- <script src="https://cdn.socket.io/socket.io-1.4.4.js"></script>
    <script>
      var socket = io();
    </script> -->
  </body>

</html>
